legend {
    font-size       : 14pt;
    font-weight     : bold;
    background-color: aquamarine;
}
label {
    float: left;
    width: 150px;
}
input, textarea,select {
    float        : left;
    width        : calc(100% - 160px);
    margin-bottom: 3px;
}

input[type=radio], input[type=checkbox] {
    float: none;
    width: 10px;
}
input[type=reset] {
width           : calc(50% - 25px);
margin-top      : 10px;
margin-right    : 5px;
padding         : 5px;
background-color: aqua;
}
input[type=submit] {
width           : calc(50% - 5px);
margin-top      : 10px;
margin-left     : 5px;
margin-right    : 0px;
padding         : 5px;
background-color: aqua;
}